<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home Page</title>
        <link rel="stylesheet" href="../public/css/style.css">
    </head>

    <body>
        <div style="width: 100%;">
            <div style="width: 25%; height: 600px; float: left;">
            <h3>Navigation Panel</h3>
            <br>
            <a href="home.html"><strong>Home Page</strong></a>
            <br><br>
            <a href="books.html"><strong>Books</strong></a>
        </div>
        
        <h1>Book</h1>
        <hr>

        <a href="book3.html"><img src="goodlife-book.jpg" alt="goodlife-book" width="350" height="350" align="left"></a> 
        <br><br><br><br><br><br><h1>&nbsp How To Live A Good Life</h1>
        <br>
        <h2>&nbsp by Skye Cleary & Massimo Pigliucci</h2>
        <p>&nbsp Together, the pieces in How to Live a Good Life provide not only a beginner's guide to choosing a life philosophy but also a timely portrait 
        <br> &nbsp of what it means to live an examined life in the twenty-first century. </p>
    
    </body>

            




</html>