<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home Page</title>
        <link rel="stylesheet" href="../public/css/style.css">
    </head>

    <body>
        <div style="width: 100%;">
            <div style="width: 25%; height: 600px; float: left;">
            <h3>Navigation Panel</h3>
            <br>
            <a href="home.html"><strong>Home Page</strong></a>
            <br><br>
            <a href="books.html"><strong>Books</strong></a>
        </div>
        
        <h1>Book</h1>
        <hr>

        <a href="book2.html"><img src="cybersecurity-dummies.jpg" alt="cybersecurity-book" width="350" height="350" align="left"></a> 
        <br><br><br><br><br><br><h1>&nbsp Cybersecurity For Dummies</h1>
        <br>
        <h2>&nbsp by Joseph Steinberg</h2>
        <p>&nbsp Cybersecurity For Dummies will introduce you to the basics of becoming cyber-secure! You'll learn what threats exist, and how to identify,
        <br> &nbsp protect against, detect, and respond to these threats, as well as how to recover if you have been breached </p>
    
    </body>

            




</html>