<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home Page</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div style="width: 100%;">
            <div style="width: 25%; height: 600px; float: left;">
            <h3>Navigation Panel</h3>
            <br>
            <a href="home.html"><strong>Home Page</strong></a>
            <br><br>
            <a href="books.html"><strong>Books</strong></a>
        </div>
        
        <h1>Book</h1>
        <hr>

        <a href="book1.html"><img src="javascript-book.jpg" alt="javascript-book" width="350" height="350" align="left"></a> 
        <br><br><br><br><br><br><h1>&nbsp JavaScript: The Definitive Guide</h1>
        <br>
        <h2>&nbsp by David Flanagan</h2>
        <p>&nbsp This book is for programmers who want to learn JavaScript and for web developers who want to take their understanding and mastery to the next level. 
        <br> &nbsp It begins by explaining the JavaScript language itself, in detail, from the bottom up. It then builds on that foundation to cover the web platform and Node.js.</p>

    </body>

            




</html>