<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home Page</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div style="width: 100%;">
            <div style="width: 25%; height: 600px; float: left;">
            <h3>Navigation Panel</h3>
            <br>
            <a href="home.html"><strong>Home Page</strong></a>
            <br><br>
            <a href="books.html"><strong>Books</strong></a>
        </div>
        
        <h1>Welcome to the Mobasery Library</h1>
        <h4>Please feel free to use the navigation pane to explore the website!</h4>
        <hr>

    </body>

            




</html>